/* font-family: 'K2D', sans-serif;
font-family: 'Kaushan Script', cursive; */

html {
  box-sizing: border-box;
}

*,*:before, *:after{
  box-sizing: inherit;
}

/* Global Styles */

/* Fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: "Kaushan Script", cursive;
  color: rgb(83, 21, 119);
}

body {
  font-family: "K2D", sans-serif;
  margin: 0;
}

/* Header Styles */
.site-header {
  display: flex;
  background-color: rgb(83, 21, 119);
  color: whitesmoke;
  justify-content: flex-start;
  padding-left: 5%;
  padding-right: 5%;
}

.site-title, 
.site-nav,
.sub-title {
  color: whitesmoke;
}

.site-title {
  font-size: 6rem;
  margin-bottom: 12px;
  line-height: 1;
}
.site-header__details {
  margin-left: 2rem;
}

.sub-title {
  font-family: "K2D", sans-serif;
  margin: 0;
}

/* Image */
.headshot {
  max-width: 100%;
  width: 400px;
  margin: 50px 0;
}

.relatives__content img {
  width: 200px;
}

/*Nav styles */
.site-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.site-nav__link {
  color: whitesmoke;
  padding: 8px 12px;
  transform: skew(-20deg);
  margin-top: 8px;
}

.site-nav__link a {
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  display: inline-block;
  transform: skew(20deg);
}

.site-nav__link.active,
.site-nav__link:hover {
  color: rgb(83, 21, 119);
  background-color: whitesmoke;
}

.site-nav__link.active a, 
.site-nav__link:hover a {
  color: rgb(83, 21, 119);
}

/* Classes */
.personal {
  max-width: 90%;
  margin: 2em auto;
}

.relatives__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.relatives__content {
  border: 3px solid rgb(83, 21, 119);
  flex-basis: 30%;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

.relatives__content img {
  width: 200px;
  height: 300px;
}

.test p {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.section__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section__content {
  text-align: center;
}


.section__title {
  text-align: center;
}


/* footer */
footer {
  background-color: rgb(83, 21, 119);
}
.footer-wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color:white;
  font-weight: bold;
}
.footer-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  align-content: center;
}

.footer-links a {
 color:whitesmoke;
 text-decoration: none;
 text-transform: uppercase;
}

.footer-links li {
  padding: 12px;
}

.footer-links li:hover {
  background-color: white;
  transform: skew(-20deg);
}

.footer-links li:hover a {
  color: rgb(83, 21, 119);
  display: inline-block;
  transform: skew(20deg);

}

footer p {
  padding: 12px 0;
}


/* Global Body Styles */

.page-title {
  font-size: 3rem;
}

.section__title {
  font-size: 2rem;
}

article li {
  list-style-image: url('images/prince_logo_bullet.svg');
}

/* Executive Summary */
.exec-summary {
  max-width: 90%;
  margin: 2em auto;
}


.exec-summary__intro {
  font-size: 1.3rem;
  line-height: 1.6;
  color: rgb(83, 21, 119);
}

.exec-summary .sections-wrapper {
  display: flex;
}
.exec-summary .summary-section {
  flex: 1;
  
}
.exec-summary .summary-section:nth-child(2) {
  margin: 0 30px;
}

.exec-summary li {
  margin-bottom: 5px;
}

/* Executive Summary - Pseudonyms */

.name {
  margin-bottom: 5px;
}

.name__details {
  margin-top: 0;
  font-size: .8rem;
  line-height: 1.3;
}
.names__list-item img {
  width: 70px;
}

/* Newsfeed styles */
.newsBox {
  display:flex;
  flex-direction:column;
  justify-content: center;
  border: 3px rgb(83, 21, 119) solid;
  max-width: 90%;
  margin: 5px auto;
}

.headlineImage {
  width: 400px;
  height: 250px;
}

.newsFeedTitle {
  display:flex;
  justify-content: center;
}


.likelihoodRating {
  display:flex;
  background-color: rgb(83, 21, 119);
  color: whitesmoke;
}

.newsBoxContent {
  display: flex;
}

.newsBoxFooter {
  color: whitesmoke;
  background-color: rgb(83, 21, 119);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.newsLink {
  text-align: right;
  padding: 10px;
} 

.newsBoxText {
  padding: 20px;
}

.headlineTitle .section__title {
  margin-top: 0;
}