/* font-family: 'K2D', sans-serif;
font-family: 'Kaushan Script', cursive; */

html {
  box-sizing: border-box;
}

*,*:before, *:after{
  box-sizing: inherit;
}

/* Global Styles */

/* Fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: "Kaushan Script", cursive;
  color: rgb(83, 21, 119);
}

body {
  font-family: "K2D", sans-serif;
}

/* Header Styles */
.site-header{
  display: flex;
  background-color: rgb(83, 21, 119);
  color: whitesmoke;
  justify-content: space-around;
}

.site-title, .site-nav,.sub-title {
  color: whitesmoke;
}

/* Image */
.headshot {
  max-width: 100%;
  width: 400px;
  margin: 50px 0;
}

/*Nav styles */
.site-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.site-nav__link {
  color: whitesmoke;
  padding: 12px;
}

.site-nav__link a {
  color: whitesmoke;
}

.site-nav__link.active {
  color: rgb(83, 21, 119);
  background-color: whitesmoke;
}

.site-nav__link.active a{
  color: rgb(83, 21, 119);
}

/* footer */
footer {
  background-color: rgb(83, 21, 119);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color:white;
}
.footer-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  align-content: center;
}

.footer-links a {
 color:whitesmoke;
}

.footer-links li {
  padding: 12px;
}

footer p {
  padding: 12px;
}

/* Global Body Styles */

.page-title {
  font-size: 3rem;
}

.section__title {
  font-size: 2rem;
}

article li {
  list-style-image: url('images/prince_logo_bullet.svg');
}

/* Executive Summary */
.exec-summary {
  max-width: 90%;
  margin: 2em auto;
  /* background-image: url('images/prince_logo.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  position:relative; */
}


.exec-summary__intro {
  font-size: 1.3rem;
  line-height: 1.6;
  color: rgb(83, 21, 119);
}

.exec-summary .sections-wrapper {
  display: flex;
}
.exec-summary .summary-section {
  flex: 1;
  
}
.exec-summary .summary-section:nth-child(2) {
  margin: 0 30px;
}

.exec-summary li {
  margin-bottom: 5px;
}

/* Executive Summary - Pseudonyms */

.name {
  margin-bottom: 5px;
}

.name__details {
  margin-top: 0;
  font-size: .8rem;
  line-height: 1.3;
}
.names__list-item img {
  width: 70px;
}
/* Career Page Styling */

.career_title {
  display: flex;
  justify-content: center;
}



.career_article_details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 25%;
  text-align: center;
}

.section__title.career{
  display: flex;
  justify-content: center;
}

.album_cover {
  max-width: 100%;
  width: 100px;
  
}

.career_section {
  padding: 100px 0;
  margin: 
  text-align: center;
  position: relative;
}

.top_albums {
  display: flex;
  flex-direction: row;
}
